<% content_for :title, "Create a short URL" %>

<section>
  <header>
    <h2 class="text-2xl font-bold mb-4">Create a short URL</h2>
  </header>
  <%= form_with model: @link, html: { novalidate: true } do |form| %>
    <% if @link.errors.any? %>
      <div class="border-4 border-red-500 mb-4 p-4" role="alert">
        <h3 class="text-xl font-bold mb-4">There is a problem</h3>
        <ul>
        <% @link.errors.to_hash.each_pair do |field, messages| %>
          <% messages.each do |message| %>
          <li>
            <a href="#link_<%= field %>" class="text-red-500 hover:text-red-900 active:text-red-900 focus:text-red-900 font-bold"><%= message %></a>
          </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.label :url, "URL to redirect to", class: "block mb-2" %>
    <%= form.url_field :url, class: "block mb-4 border-2 border-slate-500" %>
    <%= form.submit "Create short URL", class: "block p-2 bg-slate-50 border-2 border-slate-500 hover:bg-slate-200 hover:border-slate-900" %>
  <% end %>
</section>
